<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/carousel.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>   
    <link rel="stylesheet" href="../css/style.css">
    <title>Reconocimientos</title>
    <link rel="icon" href="../img/icon.jpg">
</head>
<body>
    <!-- header -->
    <header>
        <div>
            <h1>Nissan Skyline R32 Blog</h1>
            <p>Información y datos interesantes sobre el conocido R32</p>
        </div>
    </header>
    <!-- navbar (Elemento Bootstrap)-->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">BLOG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../../index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link active" aria-current="page" href="#">Reconocimientos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/Formulario.html">Registro</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Elemento bootstrap -->
    <main>

        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
              <div class="container">
                <div class="carousel-caption text-start">
                  <img src="../img/nssn1.jpg" class="img-fluid" alt="Responsive image">
                  <h1>El elegido</h1>
                  <p class="opacity-75">YOKOHAMA, Japón – Los fanáticos del automovilismo deportivo eligieron al legendario Nissan Skyline GT-R R32 como el mejor auto deportivo en el concurso organizado por NISMO (Nissan Motorsports International Co., Ltd.) en redes sociales con motivo de la 20° edición del Festival NISMO.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
              <div class="container">
                <div class="carousel-caption">
                  <img src="../img/nssn2.jpg" class="img-fluid" alt="Responsive image">
                  <h1>Arrasar en las pistas</h1>
                  <p>Nissan Skyline GT-R R32 venció en este concurso a tres notables súper vehículos GT-R: Nissan GT-R NISMO GT-3 – campeón de las 12 Horas de Bathurst y de los seriales Blancpain GT y GT300 –; Nissan Skyline GT-R R34 – ganador del campeonato JGTC en 2003 – y el Nissan GT-R NISMO GT500 – ganador en el campeonato Súper GT en la temporada 2014-2015.

                    Finalmente, fue el estatus de vehículo de culto y el hecho de que se haya convertido en un referente del automovilismo, lo que catapultó a Nissan Skyline GT-R R32 al primer lugar de la votación.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
              <div class="container">
                <div class="carousel-caption text-end">
                  <img src="../img/nssn3.jpg" class="img-fluid" alt="Responsive image">
                  <h1>Premios</h1>
                  <p>Este vehículo se mantuvo en producción tan sólo cinco años, sin embargo, obtuvo importantes premios en prestigiosas carreras y campeonatos en tres diferentes continentes. En Europa, el vehículo obtuvo la victoria general en 1991 en el serial Spa 24. Asimismo, ganó el campeonato australiano Touring Car por primera vez en 1991 y posteriormente en 1992.</p>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      
      
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
      
        <div class="container marketing">
      
          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="col-lg-4">
              <img src="../img/nssn4.jpg" class="img-fluid" alt="Responsive image">
              <p>Sin embargo, fue en los campeonatos Touring Car de Japón donde el GT-R R32 obtuvo sus más grandes victorias, donde resultó el ganador absoluto de las temporadas desde el 91 y hasta el 93.</p>
              <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="../img/nssn5.jpg" class="img-fluid" alt="Responsive image">
              <p>Adicionalmente, el vehículo Nissan Skyline GT-R R32 reafirmó su estatus como el favorito de los fanáticos del automovilismo deportivo al ser incluido en la serie de videojuegos Gran Turismo.</p>
              <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="../img/nssn6.webp" class="img-fluid" alt="Responsive image">
              <p>Este vehículo ha sido una opción muy popular entre los pilotos de carreras y gamers de todo el mundo, y una vez más ha demostrado su relevancia con este reconocimiento como el más grande vehículo de carreras de Nissan NISMO.</p>
              <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
      
        </div><!-- /.container -->
      
      
        <!-- FOOTER -->
        <footer class="container">
          <p class="float-end"><a href="#">Back to top</a></p>
          <p>© 2017–2023 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>
      </main>
      <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>